@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="text-center">
    <h1 class="display-4"><br>Welcome to <b>Is Peter Married?</b></h1>
    
    <div class="w3-container"><p id="myRandomDiv" class="w3-animate-zoom"><font size="16">test</font></p>
    </div>
    <p><font size="16"><br>Peter is currently: <b><font color="red">not married</font></b></font></p>


</div>
